html{scroll-behavior:smooth;font-family: 'PT Sans Narrow', sans-serif;}
body{max-width: 100%;margin: 0;font-family: 'Roboto Condensed', sans-serif;}

.cl1{background:#f10d0d ;}
.cl2{background:#f9e218 ;}
.cl3{background:#0d7fbe ;}
.cl4{background:#ffffff ;}
.cl5{background:#000000 ;}


/* cabecera */
.header{background:#000000 ;margin: none;}
.logo{width: 100%;}
.gridobras1 {margin-left: -1.5%;margin-bottom: -1%;display: grid;grid-template-columns: 8% 35.5% 5% 5% 27% 5% 32% ;grid-template-rows: auto 15px;gap:1%;}
.gridobras1 div{ padding: 1em; }
.titulo h2{font-size:170%;margin-top: 1.5%;color: #000000;margin-bottom: -1%;text-align: center;font-family: 'Graduate', cursive;}
.recuadro{margin: none;margin-bottom: -1%;}
/* ------- */

/* Footer  */
.footer{width: 100%;border: 10px solid #000000;border-top: none;font-family: 'Graduate', cursive;color: #000;font-size:140%;}
.footer2{width: 62.5%;border: 10px solid #000000;border-top: none;font-family: 'Graduate', cursive;color: #000;font-size:140%;margin-left: -0%;}
.footer3{width: 60%;border: 10px solid #000000;border-top: none;font-family: 'Graduate', cursive;color: #000;font-size:140%;margin-left: 40%;}
/* ------  */

/* INDEX */
.home{width: 100%;}
.home_1{width: 100%;display: flex;}
.cuadro_0{width: 20%;flex-flow:wrap;border: 10px solid #000000;border-left: none;}
.cuadro_0 img{width: 70%;padding: 5%;margin-left: 15%;margin-top: 15%;margin-bottom: 15%;}
.cuadro_0 a{text-align: center;}
.cuadro_1{width: 10%;}
.cuadro_2{width: 80%;}
.cuadro_2_a{width: 100%;display: flex;height: 50%;}
.cuadro_2_a_1{flex-flow: wrap;width: 30%;border: 10px solid #000000;color: #ffffff;}
.cuadro_2_a_2{width: 50%;border: 10px solid #000000;color: #f10d0d;border-left: none;}
.cuadro_2_a_3{width: 30%;border: 10px solid #000000;color: #ffffff;border-left: none;}
.cuadro_2_a_4{width: 30%;border: 10px solid #000000;color: #ffffff;border-left: none;}
.cuadro_2_b{width: 100%;display: flex;height: 50%;}
.cuadro_2_b_1{flex-flow: wrap;width: 10%;border: 10px solid #000000;color: #ffffff;border-top: none;}
.cuadro_2_b_2{width: 40%;border: 10px solid #000000;color: #ffffff;border-left: none;border-top: none;}
.cuadro_2_b_3{width: 10%;border: 10px solid #000000;color: #000000;border-left: none;border-top: none;}
.cuadro_2_b_4{width: 45%;border: 10px solid #000000;color: #ffffff;border-left: none;border-top: none;}
.home_2{width: 100%;display: flex;}
.cuadro_3{width: 62%;flex-flow:wrap;border: 10px solid #000000;border-left: none;border-top: none;}
.cuadro_3 h4{text-align: center;font-family: 'Graduate', cursive;margin-top: 4%;margin-bottom: 4%;font-size: 250%;color: #000000;}
.cuadro_4{width: 7%;}
.cuadro_5{width: 10%;border: 10px solid #000000;border-left: none;border-top: none;}
.cuadro_5 p{color: #ffffff;}
.cuadro_6{width: 21%;border: 10px solid #000000;border-left: none;border-top: none;}
.cuadro_6 h4{text-align: center;font-family: 'Graduate', cursive;margin-top: 12%;margin-bottom: 4%;font-size: 250%;color: #000000;}
.cuadro_6:hover{cursor: pointer;background:#0d7fbe;color: #ffffff;}
.cuadro_6:hover h4{cursor: pointer;color: #ffffff;}
.home_3{width: 100%;display: flex;}
.home_3 p{color:#ffffff;}
.home_3_a{width: 50%;flex-flow: wrap;}
.home_3_a_arriba{width: 100%;display: flex;}
.home_3_a_arriba_a{width: 50%;flex-flow: wrap;}
.home_3_a_arriba_a_cuadro1{width: 100%;border: 10px solid #000000;border-left: none;border-top: none;}
.home_3_a_arriba_a_cajon{width: 100%;display: flex;}
.home_3_a_arriba_a_cajon_cuadro1{width: 70%;border: 10px solid #000000;border-left: none;border-top: none;}
.home_3_a_arriba_a_cajon_cuadro1 h4{text-align: center;font-family: 'Graduate', cursive;margin-top: 5%;margin-bottom: 5%;font-size: 210%;color: #000000;}
.home_3_a_arriba_a_cajon_cuadro1:hover h4{cursor: pointer;color: #ffffff;}
.home_3_a_arriba_a_cajon_cuadro2{width: 30%;border: 10px solid #000000;border-left: none;border-top: none;}
.home_3_a_arriba_b{width: 50%;}
.home_3_a_arriba_b_cuadro{width: 100%;height: 100%;border: 10px solid #000000;border-left: none;border-top: none;}
.home_3_a_medio{width: 100%;display: flex;}
.home_3_a_medio_cuadro1{flex-flow: wrap;width: 40%;border: 10px solid #000000;border-left: none;border-top: none;}
.home_3_a_medio_cuadro2{width: 10%;border: 10px solid #000000;border-left: none;border-top: none;}
.home_3_a_medio_cuadro3{width: 50%;border: 10px solid #000000;border-left: none;border-top: none;}
.home_3_a_medio_cuadro3 h4{text-align: center;font-family: 'Graduate', cursive;margin-top: 5%;margin-bottom: 5%;font-size: 210%;color: #ffffff;}
.home_3_a_medio_cuadro3:hover h4{cursor: pointer;color: #444444;}
.home_3_a_abajo{width: 100%;}
.home_3_a_abajo_cuadro{width: 100%;border-right: 10px solid #000000;}
.home_3_a_abajo_cuadro p{color:#0d7fbe;}
.home_3_b{width: 50%;}
.home_3_b_arriba{display: flex;}
.home_3_b_arriba_cuadro1{width:60%;border: 10px solid #000000;border-left: none;border-top: none;flex-flow: wrap;}
.home_3_b_arriba_cuadro2{width:40%;border: 10px solid #000000;border-left: none;border-top: none;}
.home_3_b_medio{display: flex;height: 50%;}
.home_3_b_medio_cuadro1{width:50%;border: 10px solid #000000;border-left: none;border-top: none;flex-flow: wrap;}
.home_3_b_medio_cuadro2{width:50%;border: 10px solid #000000;border-left: none;border-top: none;flex-flow: wrap;}
.home_3_b_medio_cuadro2 h4{text-align: center;font-family: 'Graduate', cursive;margin-top: 12%;margin-bottom: 5%;font-size: 210%;color: #000000;}
.home_3_b_medio_cuadro2:hover h4{cursor: pointer;color: #ffffff;}
.home_3_b_abajo{display: flex;}
.home_3_b_abajo_cuadro1{width:40%;border: 10px solid #000000;border-left: none;border-top: none;flex-flow: wrap;}
.home_3_b_abajo_cuadro1 h4{text-align: center;font-family: 'Graduate', cursive;margin-top: 4%;margin-bottom: 4%;font-size: 210%;color: #000000;}
.home_3_b_abajo_cuadro1:hover h4{cursor: pointer;color: #444444;}
.home_3_b_abajo_cuadro2{width:30%;border: 10px solid #000000;border-left: none;border-top: none;flex-flow: wrap;}
.home_3_b_abajo_cuadro3{width:30%;border: 10px solid #000000;border-left: none;border-top: none;flex-flow: wrap;}
.home_3_b_abajo_cuadro3 p{color: #000000;}
/* ------  */

/* obras */
.contenedorobras{width: 100%;display: flex;margin-top: 5%;}
.li{flex-flow: wrap;width: 50%;border: 10px solid #000000;border-top: none;}
.arriba h2{width: 100%;padding: 5%;text-align: center;border-bottom: 10px solid #000000;color: #000000;font-family: 'Graduate', cursive;font-size:200%;margin-left: 0.5%;margin-top: 5%;margin-bottom: 5%;}

.slidecontenido h4{color: #000;font-family: 'PT Sans Narrow', sans-serif;font-size:220%;}
.slidecontenido p{color: #000;font-family: 'PT Sans Narrow', sans-serif;font-size:100%;}
.ld{width: 100%;border-right: 10px solid #000000;border-bottom: 10px solid #000000;}
.slideobras{width: 92%;}

.contenedorobras2{width: 100%;display: flex;border: 10px solid #000000;border-top: none;}
.espacio{flex-flow: wrap;width: 30%;}
.subtitulobras{width: 40%;border: 10px solid #000000;border-top: none;border-bottom: none;}
.subtitulobras h2{padding: 2.5%;text-align: center;color: #000000;margin-top: 2%;font-family: 'Graduate', cursive;font-size:210%;}

.contenedorobras3{width: 100%;border: 10px solid #000000;border-top: none;}
.imgobras{display: flex;width: 100%;}
.imgobras img{flex-flow: wrap; width: 100%;position: relative;display: flex;align-items: center;cursor: pointer;}
.obra{width: 33.3%;padding: 4%;padding-bottom: none; display: flex;justify-content: center;align-items: center;}
.obra figure{position:relative;cursor: pointer;overflow: hidden;}
.obra figure img{width: 100%;transition: all 400ms ease-out;will-change: transform;}
.obra figure .capa{position: absolute;top: 0;width: 100%;height: 100%;transition: all 400ms ease-out;opacity: 0;visibility: hidden;text-align: center;}
.obra figure:hover > .capa {opacity: 1;visibility: visible;border: 5px solid #000000;}
.obra figure:hover > .capa h3{margin-top: 45%;margin-bottom: 30%;font-family: 'Graduate', cursive;}
.obra figure:hover > img{-webkit-transform:scale(1.2);transform:scale(1.2);filter: opacity(.3);}
.obra figure .capa h3{color: #000;font-weight: 600;margin-bottom: 120px;transition: all 400ms ease-out;font-family: 'PT Sans Narrow', sans-serif;font-size:190%;}
.obra figure .capa p{color: #000;font-size: 15px;line-height: 1.5;width: 100%;max-width: 220px;margin: auto;font-family: 'Graduate', cursive;font-size:100%;font-weight: 300}

.suscribite{width: 100%;display: flex;border: 10px solid #000000;border-top: none;}
.izq{width: 10%;}
.cent{width: 80%;text-align: center;padding-bottom: 5%;}
.cent h4{padding-top: 5%;color: #ffffff;font-family: 'Graduate', cursive;font-size:220%;}
.cent h4{animation-name: giro;animation-duration: 1s;animation-iteration-count: infinite;}
.cent p{color: #ffffff;font-family: 'Graduate', cursive;font-size:120%;}
.form{width: 60%;margin-left: 22%;}
.formd{border-radius: 0%;}
.btn{border-radius: 0%;border:none; margin-left: -70%;height: 100%;}

@keyframes giro{
    0%{transform: rotateZ(0deg)}
    25%{transform: rotateZ(5deg)}
    50%{transform: rotateZ(-5deg)}
    75%{transform: rotateZ(5deg)}
    100%{transform: rotateZ(0deg)}
}
/* ----  */

/* Obra en especifíco */
.contenedorobra1{width: 100%;border: 10px solid #000000;display: flex;margin-top: 6%;}
.rigth{width: 38.5%;border-bottom: 10px solid #000000;}
.pintura img{width: 41%;position: fixed;border: 5px solid #000000;margin-top: -2%;margin-left: -2.4%;}
.left{flex-flow: wrap;width: 62.5%;border-bottom: 10px solid #000000;}
.nombre{padding: 5%;}
.nombre h4{font-family: 'Graduate', cursive;font-size:250%;width: 90%;margin-top: 5%;}
.autor{display: flex;margin-top: -3%;width: 100%;}
.autorimg{flex-flow: wrap;width: 11%;margin-left: 5%;margin-bottom: 5%;}
.autorimg img{width: 100%;border: 5px solid #000000;}
.autorimg img:hover{-webkit-transform:scale(1.3);transform:scale(1.05);}
.biografia{width: 80%;margin-left: 2%;margin-top: 2%;}
.biografia h4,h5,a{font-family: 'Graduate', cursive;font-size: 110%;text-decoration: none;color: #000;}
.biografia:hover a{text-decoration: underline ;color: #000;}
.datos{width: 80%;margin-left: 5%;margin-top: 2%;margin-bottom: 9%;}
.datos p{margin-bottom: -3%;}
.texto{width: 80%;margin-left: 5%;margin-top: 2%;margin-bottom: 9%;}
.texto p{margin-bottom: -1%;}
/* ----  */

/* ARTISTA  */
.contenedorartista{width: 100%;margin-top: 4.5%;color: #000;}
.titulo_artista{width: 100%;display: flex;border: 10px solid #000000;}
.vacio_artista_00{width: 35%;color: white;flex-flow: wrap;}
.titulo_artista_00{width: 30%;border-left: 10px solid #000000;border-right: 10px solid #000000;}
.artista_title{border-top:10px solid #000000;margin-bottom: -2%; }
.artista_title h4{padding: 5%;text-align: center;font-family: 'Graduate', cursive;font-size:280%;}
.cajaartistas{width: 100%;display: flex;}
.vacio_artista_02{width: 7.5%;flex-flow: wrap;border: 10px solid #000000;border-top: none;border-bottom: none;}
.recuadro_artista_00{width: 85%;border-bottom: 10px solid #000000;}
.recuadro_artista_01{width: 100%;display: flex;}
.recuadro_artista_01_a{width: 30%;}
.recuadro_artista_01 img{width: 100%;}
.vacio_artista_03{width: 12.5%;border-left: 10px solid #000000;border-right: 10px solid #000000;color: #ffffff;}
.vacio_artista_04{width: 100%;border-bottom: 10px solid #000000;color: #ffffff;}
.artista_01{width: 100%;justify-content: center;align-items: center;margin-bottom: -5.5%;}
.artista_01 figure{position:relative;cursor: pointer;overflow: hidden;}
.artista_01 figure img{width: 100%;transition: all 400ms ease-out;will-change: transform;}
.artista_01 figure .nombre{position: absolute;top: 0;width: 100%;height: 100%;transition: all 400ms ease-out;opacity: 0;visibility: hidden;text-align: center;}
.artista_01 figure:hover > .nombre {opacity: 1;visibility: visible;}
.artista_01 figure:hover > .nombre h3{margin-top: 40%;margin-bottom: 10%;}
.artista_01 figure:hover > img{-webkit-transform:scale(1.2);transform:scale(1.2);filter: opacity(.3);}
.artista_01 figure .nombre h3{color: #000;font-weight: 600;margin-bottom: 120px;transition: all 400ms ease-out;font-family: 'Graduate', cursive;font-size:140%;}
.artista_01 figure .nombre p{color: #000;font-size: 15px;line-height: 1.5;width: 100%;max-width: 220px;margin: auto;font-family: 'Graduate', cursive;font-size:100%;font-weight: 300}
/* ----  */

/* ARTISTA EN PARTICULAR */

/* Piet Mondrian*/
.contenedorartista_1{width: 100%;display: flex;margin-top: 6%;}
.contenedorartista_izq{flex-flow: wrap;width: 45%;}
.contenedorartista_izq img{width: 45%;position: fixed;border: 10px solid #000000;}
.contenedorartista_der{width: 55%;border: 10px solid #000000;border-top: none;border-left: none;padding: 4%;}
.contenedorartista_der h4{font-family: 'Graduate', cursive;font-size: 210%;text-decoration: none;color: #000;}
.contenedorartista_der p{font-family: 'Graduate', cursive;font-size: 110%;text-decoration: none;color: #000;}
.textomondrian{width: 100%;font-family:sans-serif;}
.textomondrian p{font-family:sans-serif;margin-left: -5%;margin-right: 5%;}
.pinturas{width: 100%;}
.pinturas h4{font-family: 'Graduate', cursive;font-size: 210%;text-decoration: none;color: #000;}
/* ---- */

/* ----  */
.suscribite
/* HISTORIA  */
.contenedorhistoria{width: 100%;}
.historiatitulo{width: 100%;border: 10px solid #000000;margin-top: 6%;}
.historiatitulo h4{font-family: 'Graduate', cursive;font-size: 210%;text-decoration: none;color: #000;text-align: center;padding: 2.5%;}
.historia{width: 100%;display: flex;}
.hisotriatexto{flex-flow: wrap;width: 53%;border: 10px solid #000000;border-top: none;}
.hisotriatexto p{padding: 8%;font-family: 'Graduate', cursive;color: #000;font-size: 120%;margin-top: 5%;}
.historiaimg{width: 47%;border: 10px solid #000000;border-top: none;border-left: none;}
.historiaimg img{width: 100%;}
.historiaespacio{width: 100%;color: #ff0000;border: 10px solid #000000;border-top: none;}
.historiaimg_2{width: 47%;border: 10px solid #000000;border-top: none;}
.historiaimg_2 img{width: 100%;}
.hisotriatexto_2{flex-flow: wrap;width: 53%;border: 10px solid #000000;border-top: none;border-left: none;}
.hisotriatexto_2 p{padding: 8%;font-family: 'Graduate', cursive;color: #000;font-size: 120%;margin-top: 9%;}
.historiatitulo_2{width: 100%;border: 10px solid #000000;border-top: none;}
.historiatitulo_2 h4{font-family: 'Graduate', cursive;font-size: 210%;text-decoration: none;color: #000;text-align: center;padding: 1%;}
.hisotriacaracteristicas{width: 100%;}
.hisotriacaracteristicas_1{width: 100%;display: flex;}
.caracteristicaespacio{flex-flow: wrap;width: 10%;border: 10px solid #000000;border-top: none;}
.caracteristicaespacio2{width: 10%;border: 10px solid #000000;border-top: none;border-left: none;}
.caracteristicatexto{width: 80%;border: 10px solid #000000;border-top: none;border-left: none;}
.caracteristicatexto p{font-family: 'Graduate', cursive;font-size: 110%;text-decoration: none;color: #000;text-align: center;padding: 2.5%;}
/* ----  */

/* FILOSOFÍA  */


/* ---------  */




/* dispositivo mediano */
@media(min-width: 580px) and (max-width: 989px){}



/* dispositivo pequeño */
@media(max-width: 579px){}
